/* CSS Document */

body {
    background-color: #3C3B3B;
    color:azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

container {
    margin-left : auto; 
    margin-right: auto;
}
header {
    margin-left : auto; 
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: auto;
}

content {
    position: relative; 
    margin-left: auto;
    margin-right : auto;
    display : flex;
    flex-direction: column;
    height: auto;
}

p {
    justify-content: center;
    text-justify: center;    
}


button {
    background-color: #252323;
    color : azure;
    height: 100px; 
    width: 100px;
    border-radius: 50%;
    margin-top: 20px; 
    margin-right: 40px;
    margin-left:40px;
    margin-bottom: 40px;
    cursor: pointer;
    font-size: 10px;
}

button.blue{
    background-color: #4531C2;
}
button.green{
    background-color: #569106;
}
button.red{
    background-color: #970A0D;
}


a:link {}
a:visited {
    color: #5C5252;
}
a:hover {
    color: #50A44F;
}
a:focus {}
a:active {}

.smiley {
    /*background-image: image(src = "images/smiley_3.png"); */
    background-color: #000000;
    border-radius: 2000px; 
    border: solid 10px black; 
    margin-left: auto;
    margin-right: auto;
}

.bouton {
    display: flex;
    height:100px; 
    width:100px; 
    margin-left: 20px; 
    margin-right: 40px;
}

.grand_titre {
    display: flex;
    flex-direction: row ;
    align-items: center;
    margin-left : auto; 
    margin-right: auto;
    background-color: #5D5050;
    border-radius : 10px;
}

.plusieurs_bouttons {
    display: flex;
    flex-direction: row ;
    align-items: center;
    margin-left : auto; 
    margin-right: auto;
    position : relative;
}


